* text=auto !eol
/LICENSE -text
/NOTICE -text
cms-addon/frontend/src/main/java/org/onehippo/forge/embargo/frontend/plugins/cancel_schedule.png -text svneol=unset#image/png
cms-addon/frontend/src/main/java/org/onehippo/forge/embargo/frontend/plugins/clock_add.png -text svneol=unset#image/png
cms-addon/frontend/src/main/java/org/onehippo/forge/embargo/frontend/plugins/clock_delete.png -text svneol=unset#image/png
cms-addon/frontend/src/main/java/org/onehippo/forge/embargo/frontend/plugins/lock_add.png -text svneol=unset#image/png
cms-addon/frontend/src/main/java/org/onehippo/forge/embargo/frontend/plugins/lock_break.png -text svneol=unset#image/png
cms-addon/repository/src/main/java/org/onehippo/forge/embargo/repository/workflow/EmbargoEventsAddDocumentWorkflow.properties -text
cms-addon/repository/src/main/java/org/onehippo/forge/embargo/repository/workflow/EmbargoEventsAddDocumentWorkflow_nl.properties -text
cms-addon/repository/src/main/resources/domains/hide-embargo-document.xml -text
cms-addon/repository/src/main/resources/embargo.cnd -text
src/site/resources/images/embargo-columns.png -text svneol=unset#image/png
src/site/resources/images/embargo-domain-details.png -text svneol=unset#image/png
src/site/resources/images/embargo-domain.png -text svneol=unset#image/png
src/site/resources/images/new-embargo-user.png -text svneol=unset#image/png
src/site/resources/images/remove-embargo.png -text svneol=unset#image/png
src/site/resources/images/reschedule-embargo.png -text svneol=unset#image/png
src/site/resources/images/set-embargo.png -text svneol=unset#image/png
tools/embargo-tests/pom.xml -text
tools/embargo-tests/src/test/java/org/onehippo/forge/embargo/tests/BaseRepositoryTest.java -text
tools/embargo-tests/src/test/java/org/onehippo/forge/embargo/tests/EmbargoSecurityDomainsTest.java -text
tools/embargo-tests/src/test/java/org/onehippo/forge/embargo/tests/EmbargoWorkflowTest.java -text
tools/embargo-tests/src/test/java/org/onehippo/forge/embargo/tests/helpers/RepositorySessionBuilder.java -text
tools/embargo-tests/src/test/java/org/onehippo/forge/embargo/tests/helpers/TestConstants.java -text
tools/embargo-tests/src/test/resources/embargotest.cnd -text
tools/embargo-tests/src/test/resources/hippoecm-extension.xml -text
tools/embargo-tests/src/test/resources/log4j.dtd -text
tools/embargo-tests/src/test/resources/log4j.xml -text
tools/jcr-runners/README.txt -text
tools/jcr-runners/pom.xml -text
tools/jcr-runners/runner-embargo-documents-remover.properties -text
tools/jcr-runners/src/main/java/org/onehippo/forge/embargo/runners/EmbargoDocumentsRemover.java -text
tools/pom.xml -text
